.skills-wrapper {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-wrapper .skills-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  height: 90%;
}

.skills-wrapper .skills-main .skills-left {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-wrapper .skills-main .skills-left .skill-grid {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
}

.skills-wrapper .skills-main .skills-left .skill-grid i {
  font-size: 5em;
  margin: 0 0.5em;
  text-shadow: 2px 2px 20px #16f2b4;
}

.skills-wrapper .skills-main .skills-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-wrapper .skills-main .skills-right .skills-right-image {
  width: 75%;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 20px #16f2b4;
          box-shadow: 2px 2px 20px #16f2b4;
}

@media screen and (max-width: 600px) {
  .skills-wrapper {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .skills-wrapper .skills-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .skills-wrapper .skills-main .skills-left {
    height: auto;
    width: 100%;
  }
  .skills-wrapper .skills-main .skills-left .skill-grid {
    margin: 0.5em;
  }
  .skills-wrapper .skills-main .skills-left .skill-grid i {
    margin: 0.3em;
  }
  .skills-wrapper .skills-main .skills-right {
    width: 75%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 1em;
  }
}
/*# sourceMappingURL=Skills.css.map */