* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  font-family: arial;
  scroll-behavior: smooth;
}
a,
a:visited {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:hover:visited {
  color: #f433ab;
  transition: 0.4s ease;
}
.bttn-blue {
  height: 3em;
  width: 6.5em;
  background-color: #38e4ae;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 1em;
  font-weight: bold;
}
.bttn-pink {
  height: 3em;
  width: 6.5em;
  background-color: #f433ab;
  color: white;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 1em;
  font-weight: bold;
}
.section-header {
  text-align: center;
}
.section-subheader {
  color: #f433ab;
  font-size: 1.6em;
}
