* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  font-family: arial;
  scroll-behavior: smooth;
}
a,
a:visited {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:hover:visited {
  color: #f433ab;
  transition: 0.4s ease;
}
.section-header {
  text-align: center;
}
.section-subheader {
  color: #f433ab;
  font-size: 1.6em;
}
